.task {
  border: solid 1px green;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}
.checkbox {
  border: solid 1px green;
  height: 22px;
  line-height: 22px;
  vertical-align: middle;
}
